<% - layout('layouts/main.ejs') %>

<form action="/signin" method="post">
    <input type="email" name="email" class="input-email-signin">
    <input type="password" name="password" class="input-password-signin">
    <input type="submit" value="enviar" class="submit-signin">
</form>

